body {
	font-family: 'Roboto', sans-serif;
	min-width: 970px;
	background: #eee;
}

.content {
	margin: 0px auto;
	width: 970px;
	white-space: nowrap;
	background: white;
}

.content > *:not(main) {
	white-space: normal;
}

nav {
	padding: 20px;
	background-color: black;
	color: white;
}

nav > form {
	display: inline;
	color: black;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 0px 20px;
}

nav .logo {
	font-size: 30px;
}

.logo {
	color: gold;
	font-family: 'Oleo Script Swash Caps', cursive;;
}

main {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-right: 20px;
	width: 710px;
	white-space: nowrap;
}

main .profile-title {
	white-space: normal;
}

main .profile-info {
	display: inline-block;
	width: 300px;
	white-space: normal;
	vertical-align: top;
}

main .profile-content {
	display: inline-block;
	width: 450px;
	white-space: normal;
	vertical-align: top;
}

aside {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	white-space: normal;
}

main article.event {
	height: 114px;
	overflow: hidden;
}

main article.event img {
	float: left;
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin: 7px;
}

ul.orgs, 
ul.events {
	list-style-type: none;
}

ul.orgs li, 
ul.events li {
	min-height: 60px;
}

ul.orgs  img, 
ul.events  img{
	float: left;
	height: auto;
	width: auto;
	max-width: 50px;
	max-height: 50px;
	margin: 5px;
}

h1 {
	font-size: 30px;
	margin: 16px;
}

h2 {
	font-size: 18px;
	margin: 14px;
}

h3 {
	font-size: 14px;
	margin: 6px;
}

h4 {
	font-size: 12px;
	margin: 4px;
}

h5 {
	font-size: 10px;
	margin: 4px;
}

h6 {
	font-size: 8px;
	margin: 4px;
}

p {
	font-size: 12px;
	line-height: 18px;
	margin-top: 4px;
	margin-bottom: 6px;
}

input, select {
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	height: 40px;
	box-sizing: border-box;
}

label {
	display: inline-block;
	font-size: 14px;
	height: 40px;
	width: 200px;
	font-weight: bold;
}

form {
	margin: 12px;
}