body {
	font-family: 'Roboto', sans-serif;
	min-width: 970px;
	}

nav {
	padding: 20px;
	background-color: black;
	color: white;
	}

nav > form {
	display: inline;
	color: black;
	}

nav a {
	color: white;
	text-decoration: none;
	padding: 0px 20px;
	}

nav .logo {
	font-size: 30px;
	}

.logo {
	color: gold;
	font-family: 'Oleo Script Swash Caps', cursive;;
	}

main {
	display: inline-block;
	vertical-align: top;
	width: 750px;
	white-space: nowrap;
	}

main .profile-title {
	white-space: normal;
}

main .profile-info {
	display: inline-block;
	width: 300px;
	white-space: normal;
	vertical-align: top;
	}

main .profile-content {
	display: inline-block;
	width: 450px;
	white-space: normal;
	vertical-align: top;
	}

aside {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	}


main article.event img {
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	}

main ul.orgs {
	list-style-type: none;
	}

main ul.orgs  img{
	float: left;
	height: auto;
	width: auto;
	max-width: 50px;
	max-height: 50px;
	}

