<!doctype html>
<html>
<head>
	<title>profile page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styleguide.css">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700|Roboto:400,700,900' rel='stylesheet' type='text/css'>
</head>


<body>
	<header>
	<nav>
		<a href=/home>
			<span class="logo"><i class="fa fa-users"></i> Reuniter</span>
		</a>
		<form>
			<input placeholder="Search" />
		</form>
		<a href=/home>Name</a>
		<a href=/home>Create</a>
	</nav>
	</header>

	<main>
		<h1 class="profile-title">Renee Noble-----------------------------------------------------</h1> 
		<div class="profile-info">
			<article>
				<ul class="orgs">
					<li><img src="../static/images/ihlogo.jpg" /><p><strong>Sydney University International House</strong><br>2010-2012</p></li>
					<li><img src="../static/images/ihlogo.jpg" /><p><strong>Sydney University</strong><br>2010-2014</p></li>
					<li><img src="../static/images/ihlogo.jpg" /><p><strong>NCSS</strong><br>2015</p></li>
				</ul>
			</article>
		</div>
		
		<div class="profile-content">
			<article>
				<h2>Events you're hosting</h2>
				<article class="event">
					<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation Name</h3>
					<h4>Reunion Name</h4>
					<p>date range: 1st Feb 2014 - 14th Feb 2014
					<br>Location: Sydney
					</p>
				</article>
					
				<article class="event">
					<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation Name</h3>
					<h4>Reunion Name</h4>
					<p>date range: 1st Feb 2014 - 14th Feb 2014
					<br>Location: Sydney
					</p>
				</article>
						
						
				<h2>Events you're attending</h2>
				
				<article class="event">
					<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation Name</h3>
					<h4>Reunion Name</h4>
					<p>date range: 1st Feb 2014 - 14th Feb 2014
					<br>Location: Sydney
					</p>
				</article>
					
				<article class="event">
					<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation Name</h3>
					<h4>Reunion Name</h4>
					<p>date range: 1st Feb 2014 - 14th Feb 2014
					<br>Location: Sydney
					</p>
				</article>
				
				<h2>Events I hope to attend</h2>
				
				<article class="event">
					<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation Name</h3>
					<h4>Reunion Name</h4>
					<p>date range: 1st Feb 2014 - 14th Feb 2014
					<br>Location: Sydney
					</p>
				</article>
			</article>
		</div>
	</main>
	
	
	
	<aside>
		<h2>Events you might like</h2>
		<article class="event">
			<img src="../static/images/ihlogo.jpg" />
			<h3>Organisation Name</h3>
			<h4>Reunion Name</h4>
		</article>
		<article class="event">
			<img src="../static/images/ihlogo.jpg" />
			<h3>Organisation Name</h3>
			<h4>Reunion Name</h4>
		</article>
		
		<h2>Organisations you might be interested in</h2>
		<article class="org">
		<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation</h3>
		</article>
		<article class="org">
		<img src="../static/images/ihlogo.jpg" />
					<h3>Organisation</h3>
		</article>
	</aside>
</body>
</html>